@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-4"> 
        test here
        <div id="example"></div>
       
        <div>
            <div ng-controller="BasicExampleController" style="width: 100%">
                <ng-react-grid grid="grid"></ng-react-grid>
            </div>
        </div>
    </div>
</div>


@section scripts{
<script type="text/javascript">
        angular.module("example", ['ngReactGrid'])
        .controller("BasicExampleController", ['$scope', function BasicExampleController($scope) {
            var employees = [];

            for(var i = 0; i < 49; i++)
                employees.push({
                    firstName: "John " + i,
                    lastName: "Doe " + i
                });

            $scope.grid = {
                    data: employees,
                    columnDefs: [
                    {
                        field: "firstName",
                        displayName: "First Name"
                    },
                    {
                        field: "lastName",
                        displayName: "Last Name"
                    }]
            };
        }]);

</script>
   }